DerivedData/
build/

*.xcworkspace
!*.xcodeproj/project.xcworkspace
*.xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

.DS_Store

*.o
*.out
*.dSYM/

.build/
Packages/
Package.resolved

Pods/

Carthage/Build/

*.swp
*~
